 .header{
  height : 100px;
  padding : 10px;
  background-color:#3939c8;
  text-color:white;
}

.footer{
  height : 150px;
  padding : 20px;
  display : flex;
  background-color: #193968;
  text-color:white;
  border-top:1px;
  border-color:white;
}
.footer p{
  flex : 1;
}
.body{
   background-color: #aaaaff;
}

.images {
  display: flex;
  gap: 20px;
}

.images img {
  width: 100%;
  max-width: 300px;
}

@media (max-width: 768px) {
  .images {
    flex-direction: column;
  }
}
